.about-container {
    padding: 20px;
    margin: 20px;
    /* Add more styles here as needed */
  }
  
  .about-container h1 {
    margin-bottom: 1rem;
    color: #2f2f63;
    /* Add more styles here as needed */
  }
  
  .about-container p {
    color: #2f2f63;
    /* Add more styles here as needed */
  }
  

 /* About.css */
.about-container {
    background-color: #add8e600; /* Example: Light blue background */
    /* Other styles... */
  }
  

