
.app-background {
  min-height: 100vh;
  background-image: linear-gradient(to bottom left, rgb(255, 164, 243), rgb(255, 219, 120));
}



section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}


body, h1, h2, p {
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin-right: 20px;
}

.hero {
  background-color: #ff8bd441;
  padding: 50px;
  text-align: center;
}

.content-block {
  padding: 20px;
  margin: 20px 0;
  background-color: #93f1ff00;
}

footer {
  background-color: #fcb14000;
  color: #000000;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

